body { padding: 2rem 3rem; }

main { margin: 3rem; }

footer { font-size: small; }

button { margin: 4px; }

table { border: 1px solid black; background-color: black; }

#content > table { border-width: 2px; }

table, tr, td { margin: 0px; padding: 0px; }

tr, td { border: none; }

input { font-size: 1.2rem; width: 2rem; }

input:invalid { color: red; }

.error { color: red; }
.success { color: green; font-weight: bold; }
.fixed { background-color: lightgray; }
.filled { }

.summary { margin: 2em; padding: 1em; border: 1px dotted gray; font-size: small; }